.cart
  .div-item
    img(src="images/star.png", alt="item-pic")
    .item-details
      .name-price
        span.title Vega
        span.price $15.00
      span.subtitle A bright star in the Lyra constellation.

  .item-totals
    .total-row
      span Subtotal
      span $15.00
    .total-row
      span Shipping
      span $3.00
    .total-row
      span Taxes
      span $1.50
    .total-row
      span Total
      span $19.50