nav.navbar
  .navbar-left
    a(href='/')
      img.logo(src='/images/logo.png' alt='Stellar Logo')
      span.logo-text Stellar

    //- Updated search form for JS
    form#search-form
      input#search-input(type='text' placeholder='Search products...')
      button(type='submit')
        img(src='/images/search-white.png' alt='Search' class='search-icon')

  .navbar-right
    ul.nav-links
      li
        a(href='/account' class='profile-link')
          img.profile-icon(src='/images/profile-white.png' alt='Profile')
          span.profile-text Profile
      li
        a(href='/cart' class='cart-link')
          img.cart-icon(src='/images/cart-white.png' alt='Cart')
          span.cart-text Cart

      if isLoggedIn
        li
          a(href='/logout') Logout
      else
        li
          a(href='/login') Login
        li
          a(href='/signup') Sign Up