html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/styles/about-style.css")
        link(rel="stylesheet", href="/styles/navbar-footer-style.css")
        link(rel="icon", href="/images/logo.png", type="image/png")
        title About Us

    body
        .page-wrapper
            include partials/navbar
            main
                .about-header
                    h1 About Us
                .about
                    .block-one
                        img(src="/images/bryan-goff-f7YQo-eYHdM-unsplash.jpg", alt="Photo of a galaxy")
                        .text 
                            h2 Who Are We?
                            p We are a group with a passion for space and a mission to let everyone take a piece of it home! &#127756; Stellar was created by 3 students, Marbella, Vineela, and Zoe, who wanted to share their love of space with the world. &#127769;
                    .block-two
                        .text
                            h2 Our Goal
                            p Own a little piece of the universe with Stellar! &#127775; We offer a variety of products, from stars, to planets, to galaxies. Experience the universe like never before. &#128640;
                        img(src="/images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg", alt="Photo of a galaxy")
                div.bottom-space
            include partials/footer