doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/styles/payment-style.css")
    title Checkout - Lorem
  body
    nav.navbar
      .div-title
        span.nav-span: a(rel="#") Lorem
        button.view-bag-btn View Bag

    .main-wrapper
      form.payment-form
        label.form-label CONTACT
        input.form-input(type="text", id="email", name="email", placeholder="Email", required)

        label.form-label DELIVERY
        select#country(name="country")
          option(value="") Select a Country
          option(value="us") United States

        .first-last-name
          input.form-input-name(type="text", id="first-name", name="first-name", placeholder="First Name", required)
          input.form-input-last-name(type="text", id="last-name", name="last-name", placeholder="Last Name", required)

        input.form-input(type="text", id="address1", name="address1", placeholder="Address Line 1", required)
        input.form-input(type="text", id="address2", name="address2", placeholder="Address Line 2", required)

        .city-state-zip
          input.city-state-zip-input(type="text", id="city", name="city", placeholder="City", required)
          input.city-state-zip-input(type="text", id="state", name="state", placeholder="State", required)
          input.city-state-zip-input(type="text", id="zip-code", name="zip-code", placeholder="ZIP code", required)

        input.form-input(type="tel", id="phone", name="phone", placeholder="Phone (e.g. 555-123-4567)", pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}", inputmode="numeric", required)

        span.span-titles SHIPPING METHOD
        .shipping-methods
          label.method
            input(type="radio", name="shipping", value="standard", checked)
            .content
              .details
                span.title Standard Delivery (4 - 7 Working Days)
                span.price $5.00

          label.method
            input(type="radio", name="shipping", value="express")
            .content
              .details
                span.title Express Delivery (3 Working Days)
                span.price $15.00

        .payment-div
          label.form-label PAYMENT
          input.form-input(type="text", id="card-number", name="card-number", placeholder="Card Number", required)

          .first-last-name
            input.form-input-name(type="text", id="expiration-date", name="expiration-date", placeholder="Expiration Date (MM/YY)", required)
            input.form-input-last-name(type="text", id="cvv", name="cvv", placeholder="CVV", required)

          input.form-input(type="text", id="name-on-card", name="name-on-card", placeholder="Name On Card", required)
          p By placing your order you agree to Lorem's Terms and Conditions, Privacy Notice and Cookie Policy

        .btn-pay
          button PAY NOW

      .cart
        .div-item
          img(src="/public/images/star.png", alt="item-pic")
          .item-details
            span.title Vega
            span.price $15.00
            span.subtitle A bright star in the Lyra constellation.

        .item-totals
          span.title Subtotal
          span.price $15.00

          span.title Shipping
          span.price $3.00

          span.title Estimated Taxes
          span.price $1.50

          span.title-total Total
          span.price $19.50
