doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/styles/signUp-style.css")
    link(rel="stylesheet", href="/styles/navbar-footer-style.css")
    title Sign Up | Stellar
  body
    //NAVBAR
    .page-container
      include partials/navbar
    

      form.signin-form(action="/signup", method="POST")
        .title
          h2 STELLAR SIGNUP

        input.form-input(type="text", id="first-name", name="firstName", placeholder="First Name", required)
        input.form-input(type="text", id="last-name", name="lastName", placeholder="Last Name", required)
        input.form-input(type="date", id="date-of-birth", name="DOB", placeholder="Date Of Birth", required)
        input.form-input(type="text", id="email", name="email", placeholder="Email", required)
        input.form-input(type="password", id="password", name="password", placeholder="Password", required)

        // Error Modal - Initially hidden
        if error
          .modal(id="errorModal", style="display:block;")
            .modal-content
              .modal-header
                span.close &times;
                h2 Error
              .modal-body
                p= error
              .modal-footer
                button(type="button", onclick="closeModal()") Close

        .btn-signIn
          button CREATE ACCOUNT
          label
            | Already have an accout?
            strong
              u
                a(href="/login") Log In

      // Include the script to handle the modal close action
      script.
        // Close modal function
        function closeModal() {
          document.getElementById('errorModal').style.display = 'none';
        }

        // Safely attach event listener only if the modal exists
        const closeBtn = document.querySelector('.close');
        if (closeBtn) {
          closeBtn.addEventListener('click', closeModal);
          }

    //FOOTER
    include partials/footer
