body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #5887FF;
    font-family: "Roboto Flex", sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    flex: 1;
}

.account {
    display: flex;
    flex-direction: row;
}